<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title>
</head>
<body>
<h1>Sign up</h1>
<form method="POST" th:action="@{/user/signup}" id="signupForm" th:object="${userCreateForm}">
    <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    </div>

    <div class="mb-3">
        <label class="form-label">사용자ID</label>
        <input type="text" class="form-control" name="username" required="required" th:field="*{username}"/>
    </div>
    <div class="mb-3">
        <label class="form-label">비밀번호</label>
        <input type="password" class="form-control" name="password1" required="required" th:field="*{password1}"/>
    </div>
    <div class="mb-3">
        <label class="form-label">비밀번호 확인</label>
        <input type="password" class="form-control" name="password2" required="required" th:field="*{password2}"/>
    </div>
    <div class="mb-3">
        <label class="form-label">이메일</label>
        <input type="email" class="form-control" name="email" required="required" th:field="*{email}"/>
    </div>
    <button type="submit" class="btn btn-primary">회원가입</button>
</form>
</body>
</html>